<div class="message">
  <div class="upper-message">
    <div class="message-user">
    <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name %>       <%# messagesテーブルのuser_idに紐付いているユーザー名を、user.nameと記述することで取得。 %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>     <%# l（エル）メソッドは日付や時刻を表示するメソッド。国や地域によって時刻は異なるが、lメソッドを使えば指定した現地時間に対応できる。 %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
    <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize:'500×500'), class: 'message-image' if message.image.attached? %>
    <%# 「 image_tag message.image, class: 'message-image' 」で「画像の投稿」と「投稿した画像の表示」が可能となる。  %>
    <%# 「それ以降の記述で、画像が存在する場合のみimage_tagが読み込まれるようになる  %>
    <%# variantメソッド(「variant(resize:'500×500')」)はActive Storageを導入している場合に使用可能だが、ビュー側で使用したサイズをその都度指定できる。 %>
  </div>
</div>

