<div class = "side_bar_header" >
  <div class = "top_name">
    <%= link_to edit_user_path(current_user) do %>    <%# サイドバーからユーザー編集ページに遷移できるように、ビューファイルを編集 %>
      <%= current_user.name %>                        <%# 表示されているユーザー名をログイン中のユーザー名にする %>
    <% end %>
  </div>
  <div class = "create_chat">
    <%# <a href = 'rooms/new' >チャットを作成する</a> %>  <%# →これでもOK! %>
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class = "rooms" >
  <div class = "room">
  <%# サイドバー下部への新規作成したチャットルーム名の表示を実装 %>
    <% current_user.rooms.each do |room|%>  
      <div class="room">
        <div class="room_name">
          <%= link_to room.name, room_messages_path(room) %>    <%# パスにroomを引数とすることで、メッセージと紐付いているチャットルームのidを持たせることができる。これしないとエラー出る。 %>
        </div>
      </div>
    <% end %>
  </div>
</div>